# Arquivos de credenciais
.env
secrets.toml
# Arquivo de variáveis de ambiente
.env
__pycache__/
.env
.vscode/

# Arquivos de mídia gerados dinamicamente
*.mp3
*.wav
temp_voice.wav
resposta_groq.mp3
venv_test/
